*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 6200px;
}
.nav-item{
    margin-right: 30px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
   
}

.nav-item a{
  color: #424530;
  font-family: 'Young Serif', serif;
}
.modal-title{
  color: #462101;
}
.form-label{
  color: #462101;
}

.nav-item .dropdown-menu{
  color: #424530;
}

.btn{
  background-color:#424530; 
  color: #FFEFCD;
  font-family: 'Young Serif', serif;
}

.navbar-nav{
    margin-left:30px;
}

.navbar-brand{
    margin-left: 80px;
}
/* ////////////////////////// */
.carousel .carousel-item {
    height: 85vh;
    font-family: 'Young Serif', serif;
  }
  
  .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 400px;
  }

  .carousel-caption h5{
    color: #FFEFCD;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Young Serif', serif;
  }
  .carousel-caption p{
    color: #FFEFCD;
    font-size: 20px;
    font-family: 'Young Serif', serif;
  }
  /* /////////////////////////////////////////// */
.jumbotron-h1{
    width: 1200px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    color: #FFEFCD;
    font-family: 'Dosis', sans-serif;
}
.jumbotron-btn{
    margin:auto;
    text-align: center;
    margin-top: 20px;
}

.jumbotron {
  background-color: #313324;

}
/* /////////////////////////////////////////styles for all headers */
.section-header{
   margin-top: 20px;
   margin-bottom: 20px;
 text-align: center;
font-size: 40px;
color: #A56014;
 background-color: #424530; 
height: 90px;
color: wheat;
font-family: 'Young Serif', serif;
}
.section-header h2{
    padding-top: 30px;
}
/* ///////////////// */

.accordion-body{
  color: black; 
font-weight: 200px;
background-color: #313324;
color: whitesmoke;
font-family: 'Josefin Sans', sans-serif;
font-weight: bold;
font-size: 22px;
}
.accordion-button{
  color: #FFEFCD;
  height: 80px;
  font-weight: bolder;
  font-size: 28px;
  background-color: #313324;
  font-family: 'EB Garamond', serif;
}

.accordion{
  --bs-accordion-active-bg: #313324;
  --bs-accordion-active-color: #ffefcc;
  --bs-accordion-btn-focus-box-shadow: none;
}
/* //////////////////////////////////////// */

 .section-4{
 }
 .translate-part{
  
    height: 470px;
    background-color: #313324;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
 }
.left-translate{
/* position: absolute; */
/* left: 100px; */
flex-shrink: 2;
color: #FFEFCD;

}
 .right-translate{
/* position: absolute; */
/* right:120px; */
flex-shrink: 1;
color: #FFEFCD;
 }
/* ///////////////////////////////// */
.card-items{
    margin-top: 40px
}

.card{
    position: relative;
    width: 400px;
    height: 640px;
    background-color: #313324;

}

.card-img-top{
  height: 300px;
}

.card-body h5{
  font-size: 30px;
  font-weight: bold;
  color: #ffefcc;
  font-family: 'Young Serif', serif;
}
.card-body p{
  font-size: 17px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: rgb(245, 229, 201);

}
.card-body .btn{
  margin-bottom: 2px;
  margin-right: 40px;
}
.card::after{
    position: absolute;
    content: "";
    width:0;
    height:0;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.card:hover::after{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.card::before{
    position: absolute;
    content: "";
    width:0;
    height:0;
    bottom:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.card:hover::before{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

/* /////////////////////////////////// */

.dish , .fashion{
    width: 400px;
    height: 500px;
    
    background-size: cover;
    position: relative;

    color: wheat;
font-family: 'Young Serif', serif;
    border-radius: 10px;
    transition: 0.5s;
}

.fashion{ background-image: url(../pictures/fashion.jpg);}
.plate{background-image: url(../pictures/italiancu.jpg);}
.art{background-image: url(../pictures/muse.jpg);}
.dish-example img{
    width: 300px;
    min-height: 300px;
    margin: auto;
    border-radius: 10px;

}

.dish-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.dish-example{
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
.dish-title{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 30px;
}
.dish-example-content{
    font-size: 25px;
    color: wheat;
font-family: 'Young Serif', serif;
}

.dish:hover{
     transform: scale(0.87,0.87);
}

/* /////////////////////////////////////////////////////// */

.hidden-gem{
  background-color: #313324;
    position: relative; 
    height: 500px;
    margin-bottom: 30px;
}

.hidden-gem-content{
/* background-color: rgb(33, 33, 0); */
/* color: aliceblue; */
width:60%;
 margin-top:50px; 
margin-left: 50px;

}

.hidden-gem-content h3{
  margin-top: 80px;
    font-size: 30px;
    font-family: 'Young Serif', serif;
    font-weight: bold;
    color: #FFEFCD;
    
}
.hidden-gem-content span{
    margin-top: 70px;
    font-size: 20px;
    
    color: wheat;
         font-family: 'Josefin Sans', sans-serif;
         font-weight:800;
         
    
}
.hidden-gem-buttons{
    margin-left: 50px;
}
.hidden-gem-buttons .btn {
    
    border: none;
    
    padding: 12px 16px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 40px;
   
    
  }
  
 .btn:hover {
    background-color:beige;
    color: black;
  }
  .hidden-gem-pic{
    
    
  }
  .hidden-gem-pic img{
    width: 300px;
    height: 500px;
    width: 40%;
    right: 0;
    top: 0;
    position: absolute;
    clip-path: polygon(25% 0%, 100% 0%, 100% 99%, 39% 100%);
    
  }




  /* ------------------ */

  .hidden-gem2-content{
    /* background-color: rgb(33, 33, 0); */
    /* color: aliceblue; */
    width:60%;
    margin-top:50px;
    margin-left: 400px;
    }
    
    .hidden-gem2-content h3{
        font-size: 30px;
        font-family: 'Young Serif', serif;
        font-weight: bold;
        margin-top: 80px;
        color: #FFEFCD;

   
    }
    .hidden-gem2-content span{
        margin-top:70px;
        font-size: 20px;
        color: wheat;
         font-family: 'Josefin Sans', sans-serif;
         font-weight:800;
         
    }
    .hidden-gem2-buttons{
        margin-left: 400px;
    }
    .hidden-gem2-buttons .btn {
      
        border: none;
        padding: 12px 16px;
        font-size: 14px;
        cursor: pointer;
        margin-top: 50px;
       
        
      }
      
      .hidden-gem2-pic img{
        width: 300px;
        height: 500px;
        width: 40%;
        left: 0;
        top: 0;
        position: absolute;
        clip-path: polygon(0 1%, 63% 0, 55% 100%, 0% 100%);
      }

      .hidden-gem-showall{
        margin-bottom: 50px;
        
      }


      /* ////////////////////////////////////////////////////////////// */

     ul {
        margin: 0px;
        padding: 0px;
    }
    .footer-section {
      background-color: white;
      position: relative;
      color: rgb(20, 41, 1);
    }
    .footer-cta {
      border-bottom: 1px solid #373636;
    }
    .single-cta i {
      color: rgb(20, 41, 1);
      font-size: 30px;
      float: left;
      margin-top: 8px;
    }
    .cta-text {
      padding-left: 15px;
      display: inline-block;
    }
    .cta-text h4 {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 2px;
    }
    .cta-text span {
      color: #757575;
      font-size: 15px;
    }
    .footer-content {
      position: relative;
      z-index: 2;
      font-family: 'Young Serif', serif;
    }
    .footer-pattern img {
      position: absolute;
      top: 0;
      left: 0;
      height: 330px;
      background-size: cover;
      background-position: 100% 100%;
    }
    .footer-logo {
      margin-bottom: 30px;
    }
    .footer-logo img {
        max-width: 200px;
    }
    .footer-text p {
      margin-bottom: 14px;
      font-size: 14px;
          color: #7e7e7e;
      line-height: 28px;
    }
    .footer-social-icon span {
      color: #fff;
      display: block;
      font-size: 20px;
      font-weight: 700;
      font-family: 'Poppins', sans-serif;
      margin-bottom: 20px;
    }
    .footer-social-icon a {
      color: #fff;
      font-size: 16px;
      margin-right: 15px;
    }
    .footer-social-icon i {
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 38px;
      border-radius: 50%;
    }

    .footer-social-icon a i:hover{
        background-color: #462101;
    }
    .facebook-bg{
      background: #3B5998;
    }
    .twitter-bg{
      background: #55ACEE;
    }
    .google-bg{
      background: #DD4B39;
    }
    .footer-widget-heading h3 {
      color: black;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 40px;
      position: relative;
    }
    .footer-widget-heading h3::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -15px;
      height: 2px;
      width: 50px;
      background: rgb(20, 41, 1);
    }
    .footer-widget ul li {
      display: inline-block;
      float: left;
      width: 50%;
      margin-bottom: 12px;
    }
    .footer-widget ul li a:hover{
      color: rgb(20, 41, 1);
    }
    .footer-widget ul li a {
      color: #878787;
      text-transform: capitalize;
    }
    
    .subscribe-form input {
      width: 100%;
      padding: 14px 28px;
      background: white;
      border: 1px solid #2E2E2E;
     
      
    }
    .subscribe-form button {
       margin-top: 20px;
        background: rgb(20, 41, 1);
       padding: 10px 20px;
        
        
    }
    .subscribe-form button  {
      color: #fff;
      font-size: 14px;
      background-color:#424530; 
  color: #FFEFCD;
  font-family: 'Young Serif', serif;
     
    }
    .copyright-area{
      background: white;
      padding: 25px 0;
    }
    .copyright-text p {
      margin: 0;
      font-size: 14px;
      color: #878787;
    }
    .copyright-text p a{
      color: rgb(20, 41, 1);
    }
    .footer-menu li {
      display: inline-block;
      margin-left: 20px;
    }
    .footer-menu li:hover a{
      color: rgb(20, 41, 1);
    }
    .footer-menu li a {
      font-size: 14px;
      color: #878787;
    } 
   